{% extends "WaldoOpenIdConnectAdminBundle::base.html.twig" %}

{% block pageTitle %}title.Client{% endblock pageTitle %}
{% block pageTitleSub %}label.Client_management{% endblock pageTitleSub %}

{% block modals %}
{% include "WaldoOpenIdConnectAdminBundle:Bootstrap:modal.html.twig" with {
id: "deleteClient", 
title: "label.Delete_client_application", 
body: "label.are_you_sure_you_want_to_delete_this_client_application",
hasNo: false } %}
{% endblock modals %}

{% block content %}  

    <div class="box">

        <div class="box-header">
            <h3 class="box-title">{% trans %}label.Client_management{% endtrans %}</h3>
        </div>

        <div class="box-body">

            <div role="alert-box"></div>

                {{ datatable_html({
                id : 'dta-client',
                class : 'table table-bordered table-striped dataTable'
            })
                }}
        </div>
    </div>

{% endblock content %}


{% block javascripts %}
    {{ parent() }}
    {{ datatable_js({
            id : 'dta-client',
            js : {
            "sDom":"<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",                
                sAjaxSource : path('oicp_admin_client_list')
            }
        })
    }}
    
{% include "WaldoOpenIdConnectAdminBundle:Bootstrap:alert.js.twig" with {
id:"success-deleted-client", alert: "success", content: "label.this_client_application_has_been_deleted"|trans } %}
{% include "WaldoOpenIdConnectAdminBundle:Bootstrap:alert.js.twig" with {
id:"errors-deleted-client", alert: "danger", content: "__errors__"} %}

<script type="text/javascript">
$(document).ready(function() {
    $('#dta-client').on('click', 'button[data-delete]', function(event) {
        $("#deleteClient").modal('show');
        $("#deleteClient").data('identifier', $(event.currentTarget).data('delete'));
    });
    
    $('button[data-modal-action-yes="deleteClient"]').on('click', function() {
        $('div[role="alert-box"]').empty();

        $.post($("#deleteClient").data('identifier'))
         .done(function() {
            $('#dta-client').dataTable().fnDraw();
            $('div[role="alert-box"]').append($('#tpl-success-deleted-client').template());
            $("#deleteClient").modal('hide');

        })
        .fail(function(e) {
            $('div[role="alert-box"]').append(jQuery('#tpl-errors-deleted-client').template({errors:e.responseJSON.errors}));
            $("#deleteClient").modal('hide');
        });
    });
    
    $('#dta-client').on('draw.dt', function() {
        $('span[data-toggle="tooltip"]').tooltip({placement:'bottom'});
    });
});
</script>
{% endblock javascripts %}
