<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset='utf-8' />
        <meta http-equiv="Content-Language" content="{{ app.request.locale }}" />
        <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp" />
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body> 
{% block bodyContent %}{% endblock bodyContent %}
    </body>
</html>