{% extends 'BraincraftedBootstrapBundle:Menu:bootstrap.html.twig' %}

{% block label %}
<span>{{ item.label|trans(item.getExtra('translation_params', {}), item.getExtra('translation_domain', 'messages')) }}</span>
{% endblock %}
