{% extends ":default:base.html.twig" %}

{% block bodyHeader %}
<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path("oicp_account_index") }}">OIC</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path("oicp_account_index") }}">{% trans with {'%username%' : app.user.username } %}Dear %username%{% endtrans %} {% if is_granted('ROLE_PREVIOUS_ADMIN') %}<i>{% trans %}switched{% endtrans %}</i>{% endif %}</a></li>
                    {% if app.user.picture is not null %}<li class="user-picture"><img src="{{ app.user.picture }}" alt="" /></li>{% endif %}
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% if is_granted('ROLE_PREVIOUS_ADMIN') %}?_switch_user=_exit{% else %}{{ path("logout") }}{% endif %}"><i class="glyphicon glyphicon-log-out"></i> {% trans %}Logout{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock bodyHeader %}
