<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset='utf-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp" />
        <title>{% block title %}{% endblock title %}</title>
        
        {% block stylesheets %}
            {% stylesheets '@bootstrap_css' '@other_css' combine=true filter='cssembed, ?yui_css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block bodyHeader %}{% endblock bodyHeader %}
        <div class="container">
{% block bodyContent %}{% endblock bodyContent %}
        </div>
{% block javascripts %}
    {% javascripts '@jquery' '@bootstrap_js' '@other_js' combine=true filter='?yui_js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
    </body>
</html>