<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <h1>{% trans %}title.Dear_user{% endtrans %}</h1>
        <div>
            {{ body|trans|raw }}
        </div>
        
        <p>{{ "label.email.signature"|trans|nl2br }}</p>
    </body>
</html>