{% extends ":default:base.html.twig" %}

{% block title %}{% trans %}label.change_your_password{% endtrans %}{% endblock title %}

{% block bodyContent %}
    <h1>{% trans %}label.change_your_password{% endtrans %}</h1>
    
{% if isValid == false %}
    {% trans %}label.link_you_have_followed_is_not_valid{% endtrans %}<br />
    {% trans %}label.feel_free_to_retry{% endtrans %} : <a href="{{ path("oicp_lost_account_search") }}">{% trans %}label.forgot_your_password{% endtrans %}</a><br />
{% else %}
    
    {{ form(form) }}
    
{% endif %}    

{% endblock bodyContent %}
