{% extends ":default:base.html.twig" %}

{% block title %}{% trans %}Change your password{% endtrans %}{% endblock title %}

{% block bodyContent %}
    <h1>{% trans %}Change your password{% endtrans %}</h1>
    
{% if isValid == false %}
    {% trans %}Sorry, the link you have followed is not valid.{% endtrans %}<br />
    {% trans %}You have maybe waiting to long for following it.{% endtrans %}<br />
    {% trans %}Please, feel free to retry : {% endtrans %}<a href="{{ path("oicp_lost_account_search") }}">{% trans %}forgot your password ?{% endtrans %}</a><br />
{% else %}
    
    {{ form(form) }}
    
{% endif %}    

{% endblock bodyContent %}
