{% extends ":default:base.html.twig" %}

{% block title %}{% trans %}label.Email_sent{% endtrans %}{% endblock title %}

{% block bodyContent %}
    <h1>{% trans %}label.an_email_was_sent_to_you{% endtrans %}</h1>
    
    <p>{% trans %}label.instruction_for_reset_your_password{% endtrans %}</p>

{% endblock bodyContent %}
