{% extends "WaldoOpenIdConnectProviderBundle::base.html.twig" %}

{% block title %}{% trans %}Email sent{% endtrans %}{% endblock title %}

{% block bodyContent %}
    <h1>{% trans %}An email was sent to you !{% endtrans %}</h1>
    
    <p>{% trans %}In your mail box you would find an email with all the instruction for reset your password.{% endtrans %}</p>

{% endblock bodyContent %}
