{% extends ":default:base.html.twig" %}

{% block title %}{% trans %}Password changed{% endtrans %}{% endblock title %}

{% block bodyContent %}
    <h1>{% trans %}Your password has been changed{% endtrans %}</h1>
    
    {% trans with {'%path%' : path("login") } %}You can now perform your <a href="%path%">login</a>.{% endtrans %}

{% endblock bodyContent %}
