{% extends ":default:base.html.twig" %}

{% block title %}{% trans %}label.password_changed{% endtrans %}{% endblock title %}

{% block bodyContent %}
    <h1>{% trans %}label.your_password_has_been_changed{% endtrans %}</h1>
    
    <a href="{{ path("login") }}">{% trans %}label.you_can_now_perform_your_login{% endtrans %}</a>

{% endblock bodyContent %}
