<div class="btn-group">
    <a href="{{ path('oicp_admin_client_record', {client:dt_obj.id}) }}" class="btn btn-default btn-flat" title="{% trans %}Show{% endtrans %}"><i class="glyphicon glyphicon-eye-open"></i></a>
    <a href="{{ path('oicp_admin_client_edit', {client:dt_obj.id}) }}" class="btn btn-default btn-flat" title="{% trans %}Edit{% endtrans %}"><i class="glyphicon glyphicon-edit"></i></a>
    <a href="" class="btn btn-danger btn-flat" title="{% trans %}Remove{% endtrans %}"><i class="glyphicon glyphicon-remove-circle"></i></a>
</div>
