<div class="btn-group"> 
    <button data-active-account="{{ path('oicp_admin_account_active_account_email', {account:dt_obj.id}) }}" class="btn btn-info btn-flat" title="{% trans %}label.send_email_for_validating_account{% endtrans %}"><i class="fa fa-share"></i> <i class="fa fa-envelope"></i></button>
    <button data-recover-password="{{ path('oicp_admin_account_retrieve_password_email', {account:dt_obj.id}) }}" class="btn btn-info btn-flat" title="{% trans %}label.send_email_for_recovering_password{% endtrans %}"><i class="fa fa-share"></i> <i class="fa fa-key"></i></button>
</div>
