<div class="btn-group">
    <a href="{{ path('oicp_admin_client_record', {client:dt_obj.id}) }}" class="btn btn-default btn-flat" title="{% trans %}label.Show{% endtrans %}"><i class="glyphicon glyphicon-eye-open"></i></a>
    <a href="{{ path('oicp_admin_client_edit', {client:dt_obj.id}) }}" class="btn btn-default btn-flat" title="{% trans %}label.Edit{% endtrans %}"><i class="glyphicon glyphicon-edit"></i></a>
    <button data-delete="{{ path('oicp_admin_client_delete', {client:dt_obj.id}) }}" class="btn btn-danger btn-flat" title="{% trans %}label.delete{% endtrans %}"><i class="glyphicon glyphicon-remove-circle"></i></button>
</div>
